{
	"type": "gitlab",
	"config": {
		"host": "lab.cerema-dtm.fr",
		"key": "157d547d84b56a6c85df8d5e79eb65f7aa07ad8245e428830ef01c4d0690f750",
		"secret": "443aace7548d4ae005521fe759793933d0eaedea7744c605bbb09c993b90f176",
		"login": "http://$HOST/oauth/authorize?client_id=$KEY&redirect_uri=$REDIRECT_URI&response_type=code&state=$SECRET",
		"logout": "http://$HOST/logout"
	}
}